nav{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav div a{
    font-size: 1.3rem;
    text-decoration: none;
    color:white;
    margin-inline: 10px;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.conteudo{
    margin-top: 50px;
}
.link-clicado{
    color: rgb(42, 140, 232);
}