.divForm{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.label{
    font-size: 1.8rem;
    color: rgb(19, 3, 189);
}
.error{
    border: 2px solid red ;
}
.success{
    border: 2px solid green ;
}
.button-form-register{
    width:256px;
    height:80px;
    border-radius: 18px;
    margin-top: 10px;
    font-size: 1.4rem;
    background-color: rgb(19, 3, 189);
    color: white;
}